<p>
	<img src="<%=@restaurant.logo_url%>" width='200' height='200'>
</p>
<p>
	Nome: <%= @restaurant.name %>
</p>

<p>
	Address: <%= @restaurant.address %>
</p>

<p>
	Nota: <%= @restaurant.rating %>
</p>

<p>
	<a href="/">Ver todos os restaurantes</a>
</p>